http:
  routers:
    browsernotes:
      rule: "Host(`howapped.zapto.org`) && PathPrefix(`/browsernotes`)"
      entryPoints:
        - web
      middlewares:
        - rate-limit
        - https-redirect
      service: browsernotes-service

    browsernotes-secure:
      rule: "Host(`howapped.zapto.org`) && PathPrefix(`/browsernotes`)"
      entryPoints:
        - websecure
      middlewares:
        - rate-limit
        - headers-security
        - browsernotes-strip-prefix
      service: browsernotes-service
      tls:
        certResolver: letsencrypt

  middlewares:
    browsernotes-strip-prefix:
      stripPrefix:
        prefixes:
          - "/browsernotes"

    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true

  services:
    browsernotes-service:
      loadBalancer:
        servers:
          - url: "http://browsernotes:3004"
